<% if friend.user == current_user %>
  <tr id="<%= dom_id friend %>">
    <td>
      <%= link_to friend.first_name + ' ' + friend.last_name, friend, class: 'text-decoration-none'%>
    </td>
    <td>
      <%= friend.email %>
    </td>
    <td>
      <%= friend.phone %>
    </td>
    <td>
      <%= friend.twitter %>
    </td>
    <td>
      <%= button_to "Delete", friend, method: :delete, class:"btn btn-danger btn-sm"%>
    </td>
  </tr>
<% end %>
